


body{
	background-image: url("imagens/study4.jpg");
	background-size: cover;
	text-decoration: none;
	text-align: center;
	font-family: verdana;
	color: white;
}
h1{
	font-size: 70px;
	padding-top: 200px;
	text-shadow: 4px 4px 4px gray;
	margin-bottom: 5px;
}

h2{
	font-size: 20px;
	color: #546E8B;
	margin-bottom: 30px;
}

p{
	font-size:25px;
}

.cantosd{
	float: left;

}
img{
	margin-top: 20px;
	width: 80%;
}

.botao-contacto{
	text-decoration: none;
	background-color: #9FB4CB;
	font-size:20px;
	padding: 10px 15px 10px 15px;
	border-radius: 2px;
	color: white;
	
}

.botao-contacto:hover{
	background-color: #546E8B;
}

table{
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 80px;
  	
}

table td{
	padding-left: 25px;	
	color: #303030;
	background: rgba(223, 223, 223,0.3);
}

table a{
	color: #303030;
	font-weight: bold;
}

/*
.lista{
	list-style: none;
	padding-left: 0;
	margin-top: 190px;
}

.lista li{
	display: inline;
}

.lista a{
	text-decoration: none;
	color: white;
	font-size:25px;
}*/


.footer {
	list-style: none;
	padding-left: 0;
   	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.footer ul li{
	display: inline;
}

.footer ul a{
	text-decoration: none;
	color: white;
	font-size:25px;
}
